* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Roboto Slab', serif;
}

/* utilities */

body {
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 95%;
  max-width: 1280px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

section {
  padding: 2rem 0;
}

.red {
  color: #981916;
}

.before-text {
  color: #981916;
  font-size: 0.875rem;
  display: block;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}
.before-text-inline {
  display: inline-block;
  color: #981916;
  font-size: 0.875rem;
  text-transform: uppercase;
}

/* header */

.header-section {
  padding: 1rem 0;
  text-align: center;
}

.logo-text {
  font-size: 0.8rem;
}

/* nav */

.nav {
  background: linear-gradient(rgb(236, 236, 236, 0.25), rgb(236, 236, 236, 1));
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;

  padding: 1.25rem;
}

.nav-link {
  color: #981916;
  text-transform: uppercase;
}

.active {
  text-decoration: underline;
}

/* banner */

.banner {
  margin: 1rem 0;
}

.banner-img {
  background-color: #f2f2f2;

  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-img-img {
  width: 80%;
}

/* main section */

.main {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.75)),
    url('./img/main.jpg');
  background-size: cover;
  background-position: top center;
  height: 600px;
}

.main-section {
  height: 100%;
  color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.main-section-title {
  font-size: 3.5rem;
  line-height: 1;
  margin-bottom: 1rem;
}

.main-section-desc {
  font-size: 1.5rem;
  max-width: 50ch;
  margin-bottom: 2rem;
}

/* news section */

.news-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 2rem;
}

/* news section left col */

/* .left-col {
  display: flex;
  flex-direction: column;
} */

.post:first-child {
  border-bottom: 1px solid #f7f7f7;
  margin-bottom: 1.5rem;
}

.post-title {
  font-size: 1.9rem;
  margin-bottom: 1rem;
}

.post-desc {
  font-size: 1rem;
  margin-bottom: 2rem;
  color: #777;
  max-width: 50ch;
}

/* news section right col */

.news-right-col-img {
  margin-bottom: 1rem;
}

.news-right-col-title {
  margin-bottom: 0.5rem;
}

.news-right-col-desc {
  line-height: 1.6;
}

/* banner */

.banner-2 {
  margin: 1rem 0;
}

.banner-2-text {
  text-align: center;
  font-family: ;
  margin-bottom: 1rem;
  color: #777;
  font-family: 'Cairo', sans-serif;
}

.banner-2-img {
  padding: 1rem 0;
  background-color: #f2f2f2;

  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-2-img-img {
  width: 80%;
}

/* section three */
.section-three {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
}

.section-three-left-col > img,
.section-three-right-col > img {
  width: 100%;
  object-fit: cover;
}

/* section four */

.section-four {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
}

.section-four-img {
  width: 100%;
  object-fit: cover;

  margin-bottom: 1rem;
}

.section-four-title {
  padding-bottom: 1rem;
  border-bottom: 1px solid #ddd;
  margin-bottom: 1rem;
}

.section-four-subtitle {
  padding-bottom: 1rem;
  border-bottom: 1px solid #ddd;
  margin-bottom: 1rem;
}

/* section five */

.section-five {
  background-color: #f2f2f2;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.stock-rate {
  text-align: center;
  padding: 1rem 2rem;
}

.stock-name {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.rates {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.rates > p {
  font-size: 0.75rem;
}

.rate {
  color: #fff;
  padding: 0.15rem 0.5rem;
  border-radius: 1rem;
}

.increase {
  background-color: #11a711;
}

.decrease {
  background-color: #981916;
}

/* section six */
.section-six {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 1rem;
}

.left-col-section-six {
  grid-column: 1/5;
}

.middle-col-section-six {
  grid-column: 5/10;
}
.right-col-section-six {
  grid-column: 10/-1;
}

.left-col-section-six-post > .post-img {
  width: 100%;
  object-fit: cover;
}

.left-col-section-six-post > .post-title {
  font-size: 1rem;
}

.middle-col-section-six > img,
.right-col-section-six > img {
  width: 100%;
  height: 600px;
  object-fit: contain;
}

/* section seven */

.section-seven {
  text-align: center;
}

/* section eight */
.section-eight {
  display: grid;
  grid-template-columns: 3fr 2fr;
  column-gap: 1rem;
}

.section-eight > div {
  border-top: 2px solid #981916;
  padding-top: 1rem;
}

.section-eight-left-col-title {
  margin-bottom: 2rem;
}

.section-eight-left-col > img {
  width: 100%;
}

.section-eight-right-col-top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 2rem;
}

.section-eight-right-col-top-link {
  color: #981916;
}

.section-eight-blog-post {
  display: flex;
  align-items: flex-start;
  gap: 1rem;

  padding: 1rem 0;
  border-bottom: 1px solid #ddd;
}

.section-eight-blog-post:last-child {
  border: none;
}

.blog-author {
  color: #981916;
  font-size: 0.875rem;
  margin-bottom: 0.75rem;
}

/* section nine */

.logo-red {
  background-color: #981916;
  padding: 1rem 0;
  text-align: center;
}

.video-section {
  padding: 1rem;

  display: grid;
  grid-template-columns: 2fr 3fr;
  column-gap: 1rem;

  background-color: #f2f2f2;
}

.video-section-title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.video-section-desc {
  line-height: 1.6;
  margin-bottom: 3rem;
}

.video-section-left-col-img {
  text-align: center;
}

.video-section-right-col {
  justify-self: flex-end;
}

/* section ten */

.section-ten {
  display: grid;
  grid-template-columns: 1fr 550px 1fr;
  column-gap: 1rem;
  align-items: flex-start;
}

.left-col-section-ten-post > .post-img {
  width: 100%;
  object-fit: cover;
}

.left-col-section-ten-post > .post-title {
  font-size: 1rem;
}
.right-col-section-ten-post > .post-title {
  font-size: 1rem;
}

.middle-col-section-ten-img {
  background-color: #333;
}

.middle-col-section-ten-img > img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.middle-col-section-ten-title {
  font-size: 1.5rem;
  background-color: #333;
  padding: 1rem;
  color: #fff;
}

/* section eleven */
.section-eleven {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 1rem;

  border-top: 1px solid #981916;
}

.section-eleven-title {
  grid-column: 1/-1;
  padding: 1rem 0;
  font-size: 1.25rem;
}

.left-col-section-eleven {
  grid-column: 1/4;
}

.middle-col-section-eleven {
  grid-column: 4/9;
}
.right-col-section-eleven {
  grid-column: 9/-1;
}

.left-col-section-eleven-post > .post-img {
  width: 100%;
  object-fit: cover;
}

.middle-col-section-eleven > img,
.left-col-section-eleven > img {
  width: 100%;
  height: 600px;
  object-fit: contain;
}

.right-col-section-eleven-post {
  padding-top: 0.5rem;
  border-bottom: 1px solid #f2f2f2;
}

.right-col-section-eleven-post:last-child {
  border-bottom: none;
}

.right-col-section-eleven-post > .post-title {
  font-size: 1rem;
}

/* section twelve */

.twelve {
  border-bottom: 1px solid #f2f2f2;
  border-top: 1px solid #f2f2f2;
}

.section-twelve {
  text-align: center;
}

/* section thirteen */
.section-thirteen {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 1rem;
}

.left-col-section-thirteen {
  grid-column: 1/6;
}

.middle-col-section-thirteen {
  grid-column: 6/10;
}
.right-col-section-thirteen {
  grid-column: 10/-1;
}

.middle-col-section-thirteen-post {
  border-bottom: 1px solid #f2f2f2;
  padding-top: 0.5rem;
}
.last {
  border-bottom: none;
}

.middle-col-section-thirteen-post > .post-title {
  font-size: 1rem;
}

.section-thirteen-img {
  background-color: #f2f2f2;
  text-align: center;
  padding: 0.5rem 0;
}

.section-thirteen-image-before-text {
  text-align: center;
  font-size: 0.7rem;
  color: #777;
  margin-bottom: 0.25rem;
  font-family: 'Cairo', sans-serif;
}

.left-col-section-thirteen > img,
.right-col-section-thirteen > img {
  width: 100%;
  height: 600px;
  object-fit: contain;
}

/* section fourteen */
.section-fourteen {
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 1rem;
}

.section-fourteen > div:first-child {
  border-top: 2px solid #981916;
  padding-top: 1rem;
}
.section-fourteen > div:last-child {
  border-top: 2px solid #06aa48;
  padding-top: 1rem;
}

.section-fourteen-left-col-title {
  margin-bottom: 2rem;
}

.section-fourteen-left-col > img {
  width: 100%;
}

.section-fourteen-left-col-title::after {
  content: 'Com Sandra Assunção - Direto de Cruzeiro do Sul';
  color: #777;
  font-size: 0.75rem;
  border-left: 2px solid #981916;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
}

.section-fourteen-left-col-post-one {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem 0;
}

.section-fourteen-left-col-post-one-title {
  font-size: 2.75rem;
}

.section-fourteen-blog-posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.section-fourteen-left-col-blog-post > img {
  width: 100%;
}

.section-fourteen-left-col-blog-title {
  font-size: 1.25rem;
  margin-top: 1rem;
}

.section-fourteen-last-section {
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 1rem;
  margin-top: 2rem;
  align-items: center;
}

.right-col-last-section {
  margin-top: 1rem;
}

.section-fourteen-last-section-blog-title {
  font-size: 1rem;
}

.section-fourteen-blog-post {
  border-bottom: 1px solid #ddd;
}

.section-fourteen-blog-post:last-child {
  border: none;
}

.section-fourteen-post-one {
  background-color: #06aa48;
  margin-bottom: 1rem;
}

.section-fourteen-post-title {
  font-size: 0.875rem;
  color: #fff;
  padding: 0.5rem;
}

/* footer */

footer {
  background-color: #981916;
  color: #fff;
  padding: 2rem 0;
}

.footer-text {
  text-align: center;
  line-height: 1.8;
  font-size: 0.75rem;
}

.footer-icons {
  text-align: center;
}

@media (max-width: 1124px) {
  /* main section */

  .main-section-title {
    font-size: 3rem;
  }

  .main-section-desc {
    font-size: 1.25rem;
  }

  /* news section */

  .news-section {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }

  /* news section left col */

  .left-col {
    display: flex;
    gap: 2rem;
  }

  .post-title {
    font-size: 1.75rem;
  }

  /* news section right col */

  .news-right-col-title {
    max-width: 50ch;
  }

  .news-right-col-desc {
    max-width: 80ch;
  }

  /* section four */

  .section-four-title {
    font-size: 1rem;
  }

  .section-four-subtitle {
    font-size: 0.9rem;
  }

  /* section five */

  /* section six */
  .section-six {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 1rem;
  }

  .left-col-section-six {
    grid-column: 1/-1;

    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  .middle-col-section-six {
    grid-column: 1/9;
  }
  .right-col-section-six {
    grid-column: 9/-1;
  }

  /* section eight */
  .section-eight {
    grid-template-columns: repeat(2, 1fr);
  }

  /* section nine */

  .video-section {
    grid-template-columns: repeat(2, 1fr);
  }

  .video-section-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  .video-section-desc {
    line-height: 1.6;
    margin-bottom: 3rem;
  }

  .video-section-left-col-img {
    text-align: center;
  }

  .video-section-right-col {
    justify-self: flex-end;
  }

  /* section ten */

  .section-ten {
    grid-template-columns: 1fr 550px;
    row-gap: 2rem;
  }

  .right-col-section-ten {
    grid-column: 1/-1;

    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }

  .right-col-section-ten .post-title {
    max-width: 40ch;
  }

  .right-col-section-ten img {
    width: 100%;
  }

  /* section eleven */

  .left-col-section-eleven {
    grid-column: 1/5;
  }

  .middle-col-section-eleven {
    grid-column: 5/-1;
  }
  .right-col-section-eleven {
    grid-column: 1/-1;
  }

  /* section thirteen */

  .left-col-section-thirteen {
    grid-column: 1/8;
  }

  .middle-col-section-thirteen {
    grid-column: 8/-1;
  }
  .right-col-section-thirteen {
    display: none;
  }

  /* section fourteen */
  .section-fourteen {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1rem;
  }
}

@media (max-width: 820px) {
  .main {
    height: 350px;
  }

  .main-section-title {
    font-size: 2rem;
  }

  .main-section-desc {
    font-size: 1rem;
  }

  /* news section */

  .news-section {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }

  .news-section > .right-col {
    grid-row: 1/2;
  }

  /* news section left col */

  .left-col {
    display: block;
  }

  /* section three */
  .section-three {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }

  /* section four */

  .section-four {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }

  /* section five */
  .section-five {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .stock-rate:last-child {
    grid-column: 1/-1;
    justify-self: center;
  }

  /* section six */
  .section-six {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }

  .left-col-section-six {
    grid-column: 1/-1;

    display: block;
  }

  .middle-col-section-six {
    grid-column: 1/-1;
  }

  .middle-col-section-six > img {
    height: auto;
  }

  .right-col-section-six {
    grid-column: 1/-1;
  }

  .right-col-section-six > img {
    height: auto;
  }

  /* section seven */

  .section-seven {
    text-align: center;
  }

  /* section eight */
  .section-eight {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }

  /* section nine */

  .video-section {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }

  .video-section > .video-section-right-col {
    grid-row: 1/2;
  }

  /* section ten */

  .section-ten {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }

  .middle-col-section-ten-img > img {
    height: auto;
  }

  .right-col-section-ten {
    display: block;
  }

  /* section eleven */
  .section-eleven {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }

  .left-col-section-eleven {
    grid-column: 1/-1;
  }

  .left-col-section-eleven > img {
    height: auto;
  }

  .middle-col-section-eleven {
    grid-column: 1/-1;
  }

  .middle-col-section-eleven > img {
    height: auto;
  }

  .right-col-section-eleven {
    grid-column: 1/-1;
  }

  /* section thirteen */
  .section-thirteen {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }

  .left-col-section-thirteen {
    grid-column: 1/-1;
  }

  .left-col-section-thirteen > img {
    height: auto;
  }

  .middle-col-section-thirteen {
    grid-column: 1/-1;
  }
  .right-col-section-thirteen {
    grid-column: 1/-1;
  }

  /* section fourteen */
  .section-fourteen {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }

  .section-fourteen-left-col-post-one {
    display: block;
    max-width: 400px;
    margin: 0 auto;
  }

  .section-fourteen-left-col-post-one img {
    width: 100%;
  }

  .section-fourteen-blog-posts {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }

  .section-fourteen-left-col-blog-post {
    max-width: 400px;
    margin: 0 auto;
  }

  .section-fourteen-last-section {
    display: block;
  }

  .right-col-last-section {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 1rem;
  }

  .right-col-last-section img {
    width: 100%;
  }

  .section-fourteen-post-one {
    max-width: 400px;
    margin: 0 auto;
  }

  .section-fourteen-post-one > img {
    width: 100%;
  }

  .section-fourteen-post-title {
    max-width: 40ch;
  }
}
